<%- include('../partials/header') %>

<% if (user) { %>

    <dialog data-modal id="newSkillModal" class="new-skill-modal">
        <form action="/skills/<%= skill._id %>?_method=PUT" method="POST">
            <h3 class="step-title">Update Your <%= skill.skillName %> Skill</h3>
            <div class="form-group">
                <label for="skill-name">Skill Name</label>
                    <input type="text" name="skillName" id="skill-name" value="<%= skill.skillName %>">
            </div>
            <div class="form-group">
                <label for="skill-category">Category</label>
                    <input type="text" name="category" id="skill-category" value="<%= skill.category %>">
            </div>
            <div class="form-group">
                <label for="skill-description">Description</label>
                    <input type="text" name="description" id="skill-description" value="<%= skill.description %>">
            </div>
            <div class="form-group">
                <label for="skill-priority">Priority</label> 
                <select name="priority" id="skill-priority">
                    <option value="low" <%= skill.priority === 'low' ? 'selected' : '' %>>Low</option>
                    <option value="medium" <%= skill.priority === 'medium' ? 'selected' : '' %>>Medium</option>
                    <option value="high" <%= skill.priority === 'high' ? 'selected' : '' %>>High</option>
                </select>
            </div> 
            <button type="button" onclick="goBack()">Cancel</button>
            <button type="submit" name="action" value="submitSkill">Submit</button>
        </form>
        <form action="/skills/<%= skill._id %>?_method=DELETE" method="POST">
            <button type="submit" onclick="return confirm('GOALS and DAILY TASKS associated with this skill will also be deleted.')">Delete Skill</button>
        </form>
    </dialog>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const modal = document.querySelector('[data-modal]')
            modal.showModal()
        })
    
        const modal = document.querySelector('[data-modal]')
    
        function goBack() {
            window.history.back()
        }
    
        // modal.addEventListener('click', e => {
        //     const dialogDimensions = modal.getBoundingClientRect();
        //     if (
        //         e.clientX < dialogDimensions.left ||
        //         e.clientX > dialogDimensions.right ||
        //         e.clientY < dialogDimensions.top ||
        //         e.clientY > dialogDimensions.bottom
        //     ) {
        //         goBack()
        //     }
        // })
    
    </script>

<% } %>

<%- include('../partials/footer') %>