<%- include('../partials/header') %>

<% if (user) { %>

    <br><br>

    <h1><%= title %></h1>

    <div>
        <% skills.forEach(function(s) { %>
            <div>
                <span><a href="/skills/<%= s._id %>"><%= s.skillName %></a></span>
                <span><%= s.percentCompleted %>%</span> 
            </div>
        <% }) %>

        <br><br>
        <div>
            <a href="/skills/new">New Skill</a>
        </div>
    </div>
    
<% } %>

<%- include('../partials/footer') %>