<%- include('../partials/header') %>

    <h1><%= title %></h1>

    <div>
        <% skills.forEach(function(s) { %>
            <div>
                <span><a href="/skills/<%= s._id %>"><%= s.skillName %></a></span>
                <span><%= s.percentCompleted %>%</span> 
                <!-- add route and controller for this! -->
            </div>
        <% }) %>
        <div>
            <a href="/skills/new">New Skill</a>
        </div>
    </div>

<%- include('../partials/footer') %>