<%- include('../partials/header') %>
<% if (user) { %>

    <dialog data-modal id="showSkillModal" class="show-skill-modal show-modal">
        <h1>Details For Your <b><%= skill.skillName %></b> Skill</h1>
        <section>
            <div>Name: <%= skill.skillName %></div>
            <% if (skill.gategory) { %>
                <div>Category: <%= skill.category %></div>
            <% } %>
            <% if (skill.description) { %>
                <div>Description: <%= skill.description %></div>
            <% } %>
            <div>Available XP: <%= skill.xp %></div>
            <div>Available Coin: <%= skill.coin %></div>
            <% if (skill.priority) {%>
                <div>Priority: <%= skill.priority %></div>
            <% } %>
            <div>Percent Completed: <%= skill.percentCompleted %></div>
            <div>Status: <%= skill.status %></div>
        </section>
        <section>
            <h3>Goals For This Skill</h3>
            <% goals.forEach(function(g) { %>
                <div>
                    <span><a href="/goals/<%= g._id %>"><%= g.name %></a></span>
                    <span>| <%= g.status %></span>
                    <% if (g.status === 'In Progress' && g.dueDate) { %>
                        <span> | Due: <%= g.dueDate.toLocaleDateString() %></span>
                    <% } %>
                </div>
            <% }) %>
        </section>
        <section>
            <h3>Daily Tasks For This Skill</h3>
            <% tasks.forEach(function(t) { %>
                <div>
                    <span><a href="/tasks/<%= t._id %>"><%= t.name %></a></span>
                    <span>| <%= t.status %></span>
                </div>
            <% }) %>
        </section>
        <div class="form-buttons">
            <button type="button" onclick="window.location.href='/user'">Account</button>
            <button onclick="window.location.href='/skills/<%= skill._id %>/edit'">Edit Skill</button>
        </div>
    </dialog>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const modal = document.querySelector('[data-modal]')
            modal.showModal()
        })
    
        const modal = document.querySelector('[data-modal]')
    
        function goBack() {
            window.history.back()
        }
    
        modal.addEventListener('click', e => {
            const dialogDimensions = modal.getBoundingClientRect()
            if (
                e.clientX < dialogDimensions.left ||
                e.clientX > dialogDimensions.right ||
                e.clientY < dialogDimensions.top ||
                e.clientY > dialogDimensions.bottom
            ) {
                window.location.href='/user'
            }
        })
    
    </script>

<% } %>
<%- include('../partials/footer') %>