<%- include('../partials/header') %>

    <h1><%= title %></h1>

    <section>
        <div>Name: <%= skill.skillName %></div>
        <div>Category: <%= skill.category %></div>
        <div>Hours To Completion: <%= skill.hoursToCompletion %></div>
        <div>Description: <%= skill.description %></div>
        <div>Your Why: <%= skill.yourWhy %></div>
        <div>XP: <%= skill.xp %></div>
        <div>Priority: <%= skill.priority %></div>
        <div>Percent Completed: <%= skill.percentCompleted %></div>
        <div>Completed: <%= skill.completed %></div>
    </section>

<%- include('../partials/footer') %>