<%- include('../partials/header') %>

<% if (user) { %>

    <dialog data-modal id="newGoalModal" class="new-goal-modal">
        <form action="/goals/<%= goal._id %>?_method=PUT" method="POST">
            <h3 class="step-title">Edit Your <%= goal.name %> Goal</h3>
            <div class="form-group">
                <label for="goal-type">Type</label>
                    <select name="type" id="goal-type" required>
                        <option value="goal">Goal</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="goal-name">Name</label>
                    <input type="text" name="name" id="goal-name" required value="<%= goal.name %>">
            </div>
            <div class="form-group">
                <label for="goal-description">Description</label>
                    <input type="text" name="description" id="goal-description" value="<%= goal.description %>">
            </div>
            <div class="form-group">
                <label for="goal-due-date">Due Date</label>
                <input type="date" name="dueDate" id="goal-due-date" required value="<%= goal.dueDate.toISOString().split('T')[0] %>">
            </div>
            <div class="form-group">
                <label for="goal-priority">Priority</label> 
                <select name="priority" id="goal-priority">
                    <option value="low" <%= goal.priority === 'low' ? 'selected' : '' %>>Low</option>
                    <option value="medium" <%= goal.priority === 'medium' ? 'selected' : '' %>>Medium</option>
                    <option value="high" <%= goal.priority === 'high' ? 'selected' : '' %>>High</option>
                </select>
            </div> 
            <button type="submit" onclick="goBack()">Cancel</button>
            <button type="submit" name="action" value="submitGoal">Submit</button>
        </form>
        <form action="/goals/<%= goal._id %>?_method=DELETE" method="POST">
            <button type="submit" onclick="return confirm('Are you sure you want to delete this GOAL?')">Delete Goal</button>
        </form>
    </dialog>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const modal = document.querySelector('[data-modal]')
            modal.showModal()
        })
    
        const modal = document.querySelector('[data-modal]')
    
        function goBack() {
            window.history.back()
        }
    
        // modal.addEventListener('click', e => {
        //     const dialogDimensions = modal.getBoundingClientRect();
        //     if (
        //         e.clientX < dialogDimensions.left ||
        //         e.clientX > dialogDimensions.right ||
        //         e.clientY < dialogDimensions.top ||
        //         e.clientY > dialogDimensions.bottom
        //     ) {
        //         goBack()
        //     }
        // })
    
    </script>

<% } %>

<%- include('../partials/footer') %>