<%- include('../partials/header') %>

<% if (user) { %>

    <br><br>

    <h1><%= title %></h1>

    <section>
        <% goals.forEach(function(g) { %>
            <div>
                <span><a href="/goals/<%= g._id %>"><%= g.name %></a></span>
                <% if (g.skill) { %>
                    <span> - (<a href="/skills/<%= g.skill._id %>"><%= g.skill.skillName %></a>)</span>
                <% } %>
                <span> - <%= g.status %></span>
                <% if (g.status === 'In Progress') { %>
                    <span> - Complete By: <%= g.dueDate.toLocaleDateString() %></span>
                <% } %>
            </div>
        <% }) %>
    </section>

    <br><br>

    <div><a href="/goals/new">New Goal</a></div>

<% } %>

<%- include('../partials/footer') %>
