<%- include('../partials/header') %>

<% if (user) { %>

    <br><br>

    <h1><%= title %></h1>

    <form action="/goals" method="POST">
        <label>
            <span>Type: </span>
            <select name="type">
                <option value="longTermGoal">Long Term Goal</option>
                <option value="shortTermGoal">Short Term Goal</option>
            </select>
        </label><br>
        <label>
            <span>Skill: </span>
            <select name="skill" required>
                <option value="" disabled selected>Select a skill</option>
                <% skills.forEach(function(skill) { %>
                    <option value="<%= skill._id %>"><%= skill.skillName %></option>
                <% }) %>
            </select>
        </label><br>
        <label>
            <span>Name: </span>
            <input type="text" name="name">
        </label><br>
        <label>
            <span>Description: </span>
            <input type="text" name="description">
        </label><br>
        <label>
            <span>Due Date: </span>
            <input type="datetime-local" name="dueDate">
        </label><br>
        <label>
            <span>Priority: </span>
            <select name="priority">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
        </label><br>
        
        <br><br>

        <button type="submit">Add Goal</button>
    </form>

<% } %>

<%- include('../partials/footer') %>
