<%- include('../partials/header') %>

<% if (user) { %>

    <br><br>

    <h1><%= title %></h1>

    <section>
        <% tasks.forEach(function(t) { %>
            <div>
                <span><a href="/tasks/<%= t._id %>"><%= t.name %></a></span>
                <% if (t.skill) { %>
                    <span> - (<a href="/skills/<%= t.skill._id %>"><%= t.skill.skillName %></a>)</span>
                <% } %>
                <% if (t.goal) { %>
                    <span> - (<a href="/goals/<%= t.goal._id %>"><%= t.goal.name %></a>)</span>
                <% } %>
                <span> - <%= t.status %></span>
            </div>
        <% }) %>
    </section>

    <br><br>

    <div><a href="/tasks/new">New Task</a></div>

<% } %>

<%- include('../partials/footer') %></br>