<%- include('../partials/header') %>
<% if (user) { %>

    <dialog data-modal id="newTaskModal" class="new-task-modal">
        <h1>Add a <b>New</b> Daily Task</h1>
        <form action="/tasks" method="POST">
            <div class="form-group">
                <label for="task-type">Type</label>
                <select name="type" id="task-type" required>
                    <option value="dailyTask">Daily Task</option>
                </select>
            </div>
            <div class="form-group">
                <label for="task-skill">Skill</label>
                <select name="skill" id="skillSelect">
                    <option value="" disabled selected>Select the related skill</option>
                    <% skills.filter(skill => skill.status === 'In Progress').forEach(function(skill) { %>
                        <option value="<%= skill._id %>"><%= skill.skillName %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label for="task-goal">Goal</label>
                <select name="goal" id="goalSelect">
                    <option value="" disabled selected>Select the related goal</option>
                    <% goals.filter(goal => goal.status === 'In Progress').forEach(function(goal) { %>
                        <option value="<%= goal._id %>" data-skill="<%= goal.skill %>"><%= goal.name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label for="task-name">Name</label>
                <input type="text" name="name" id="task-name" required>
            </div>
            <div class="form-group">
                <label for="task-description">Description</label>
                <input type="text" name="description" id="task-description">
            </div>
            <div class="form-group">
                <label for="task-priority">Priority</label>
                <select name="priority" id="task-priority">
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                </select>
            </div>
            <div class="form-buttons">
                <button type="submit" onclick="goBack()">Cancel</button>
                <button type="submit" name="action" value="submitGoal">Submit</button>
            </div>
        </form>
    </dialog>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const modal = document.querySelector('[data-modal]')
            modal.showModal()
        })

        const modal = document.querySelector('[data-modal]')

        function goBack() {
            window.history.back()
        }

        document.getElementById('skillSelect').addEventListener('change', function () {
            let selectedSkill = this.value
            let goalSelect = document.getElementById('goalSelect')
            if (selectedSkill) {
                let goals = document.querySelectorAll('#goalSelect option')
                goals.forEach(function (goal) {
                    goal.disabled = !goal.value || (goal.getAttribute('data-skill') !== selectedSkill)
                })
                goalSelect.value = ''
            }
        })
    </script>

<% } %>
<%- include('../partials/footer') %>
