<%- include('../partials/header') %>
<div class="item-main" style="overflow: scroll;">
    <% items.forEach(function(i) { %>
        <div>
            <img src="<%= i.image %>" alt="" class="item-img">
            <br>
            Name: <%= i.name %>
            -
            Cost: <%= i.cost %>
        </div>
    <% }); %>
</div>

<%- include('../partials/footer') %>