<%- include('../partials/header') %>
<!-- <div class="item-main" style="overflow: scroll;">
    <% items.forEach(function(i) { %>
        <div>
            <img src="<%= i.image %>" alt="" class="item-img">
            <br>
            Cost: <%= i.cost %>
        </div>
    <% }); %>
</div> -->

<dialog data-modal>
    <h1>Select an <b>Avatar</b></h1>
    <form action="/updateUserItems" method="POST">
        <div class="radio-container">
            <div class="radio-tile-group">
                <div class="radio-tile-group">
                    <% items.sort((a, b) => {
                        // First, sort by name
                        const nameComparison = a.name.localeCompare(b.name);

                        // If names are the same, sort by cost
                        return nameComparison === 0 ? a.cost - b.cost : nameComparison;
                    });

                    items.forEach(function(i) { %>
                        <div class="input-container">
                            <input id="avatar<%= i %>" type="radio" name="radio" value="/images/avatars/<%= i %>.png">
                            <div class="radio-tile">
                                <img src="<%= i.image %>" alt="" class="item-img">
                                Cost: <%= i.cost %>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
        <div class="form-buttons">
            <button type="submit" formmethod="dialog">Cancel</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</dialog>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const modal = document.querySelector('[data-modal]')
        modal.showModal()
    })

    const modal = document.querySelector('[data-modal]')

    function goBack() {
        window.history.back()
    }

    modal.addEventListener('click', e => {
        const dialogDimensions = modal.getBoundingClientRect();
        if (
            e.clientX < dialogDimensions.left ||
            e.clientX > dialogDimensions.right ||
            e.clientY < dialogDimensions.top ||
            e.clientY > dialogDimensions.bottom
        ) {
            window.location.href='/user'
        }
    })

</script>

<%- include('../partials/footer') %>